<%= form_for(@article, html: {class: 'form-horizontal'}) do |f| %>

  <% if @article.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :title, class: 'col-sm-1 control-label'%>
    <div class="col-sm-8">
      <%= f.text_area :title, class: 'form-control', ckeditor: { uiColor: '#AADC6E', toolbar: 'mini' } %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :text, class: 'col-sm-1 control-label'%>
    <div class="col-sm-8">
      <%= f.cktext_area :text, class: 'form-control'%>
    </div>
  </div>

  <div class="actions form-group">
    <div class="col-sm-offset-1 col-sm-8">
      <%= f.submit %>
      <%= link_to 'Back', articles_path %>
    </div>
  </div>
<% end %>
